*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

spec/app/assets/images/css_sprite.png
spec/app/assets/stylesheets/*.css
spec/app/assets/stylesheets/*.sass
spec/app/assets/stylesheets/*.scss
spec/public/stylesheets/*.css
spec/public/stylesheets/*.sass
spec/public/stylesheets/*.scss
example/app/assets/images/css_sprite.png
example/app/assets/stylesheets/css_sprite.css
