*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

spec/public/images/css_sprite.png
spec/public/stylesheets/*.css
spec/public/stylesheets/*.sass
spec/public/stylesheets/*.scss
spec/app/stylesheets/*.css
spec/app/stylesheets/*.sass
spec/app/stylesheets/*.scss
