.logos:hover .gmail_logo, .gmail_logo, .hotmail_logo, .icons .twitter_icon:hover, .icons .facebook_icon:hover,
.icons .twitter_icon, .icons .facebook_icon, .gmail_logo.active, .logos .gmail_logo, .logos .gmail_logo.active {
  background: url('/images/css_sprite.png?1273417463') no-repeat;
}
.logos:hover .gmail_logo { background-position: 0px 0px; }
.gmail_logo { background-position: 0px -41px; width: 103px; height: 36px; }
.hotmail_logo { background-position: 0px -82px; width: 103px; height: 36px; }
.icons .twitter_icon:hover { background-position: 0px -123px; }
.icons .facebook_icon:hover { background-position: 0px -142px; width: 21px; height: 21px; }
.icons .twitter_icon { background-position: 0px -168px; width: 14px; height: 14px; }
.icons .facebook_icon { background-position: 0px -187px; width: 14px; height: 14px; }
.gmail_logo.active { background-position: 0px -206px; }
.logos .gmail_logo { background-position: 0px -247px; width: 103px; height: 36px; }
.logos .gmail_logo.active { background-position: 0px -288px; width: 52px; height: 18px; }
